<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ScreenActivity"
            android:exported="false" />

        <service
            android:name=".ScreenService"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".InnerSoundService"
            android:foregroundServiceType="mediaProjection" />

        <activity android:name=".CameraXActivity" />
    </application>

</manifest>