<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.GameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FRTMPActivity"
            android:exported="false" />

        <service
            android:name=".service.GameService"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>